@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

li {
    list-style: none;
}

/* Assets */

:root {
    /* colors */
    --clr-light-green-400: #66BB6A;
    /* replaced light blue 400 */
    --clr-light-green-300: #68c86d;
    --clr-dark-green: #299431;
    /* replaced dark blue */
    --clr-light-red: #ec4c4c;
    --clr-light-grey: #bebebec9;
    --clr-light-grey-300: #ffffffed;
    --clr-light-green-800: #C8E6C9;
    /* replaced light blue 800 */
    --clr-white: #f0f0f0;
    /* fonts */
    font-family: "Poppins", sans-serif;
}

html {
    font-style: var(--ff-primary-fonts);
}

.container {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
}

.container nav {
    width: 100%;
    padding: 40px 0px;
}

nav ul {
    width: 83%;
    margin: auto;
    background-color: var(--clr-light-grey);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

nav ul li h2 {
    font-size: 28px;
    color: rgba(23, 23, 23, 0.874);
}


.container .game-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
}

.container .game-display .game-card {
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--clr-light-grey-300);

}

.container .game-display .game-card .games {
    display: flex;
    flex-direction: column;
    padding: 30px 70px;

}

.container .game-display .game-card .games .inputs h5 {
    color: #414141;
    text-align: center;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 30px;
}
.container .game-display .game-card .games .inputs h3 {
    color: #2b2b2b;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

.container .game-display .game-card .games .inputs .fields {
    display: flex;
    justify-content: center;
    margin: 20px 0px 40px 0px;
    gap: 15px;
}


.game-card .games .inputs .fields .guess-input-filed {
    padding: 8px 12px;
    box-sizing: border-box;
    border: 1.5px solid #686868;
    border-radius: 10px;
    background-color: var(--clr-white);
    font-size: 16px;
    color: var(--clr-dark-green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.game-card .games .inputs .fields .guess-input-filed:focus {
    border-color: #656565;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

}

.game-card .games .inputs .fields .design-guess {
    border-radius: 5px;
    color: var(--clr-white);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 15px;
    background-color: #3785ca;
    outline: none;
    border: none;
}

.game-card .games .inputs .fields .design-guess:hover {
    cursor: pointer;
}

.container .game-display .game-card .games .outputs {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
    padding: 20px 30px;
}

.container .game-display .game-card .games .outputs h6 {
    font-size: 20px;
    margin-bottom: 8px;
    color: orangered;
}

.container .game-display .game-card .games .outputs p {
    font-size: 18px;
    font-weight: 600;
    color: rgb(35, 35, 35);
}

.container .game-display .game-card .games .outputs p span {
    font-weight: 400;
}

.games .newgame {
    display: flex;
   justify-content: space-between;
    margin: 30px 0px;
}

.games .newgame p {

    border-radius: 10px;
    color: var(--clr-white);
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    background-color: var(--clr-dark-green);
    outline: none;
    border: none;
    color: var(--clr-light-grey-300);
}
 
.games .newgame p:hover {
    cursor: pointer;
}

.game-display .game-rules {
    background-color: #fafafa;
    border-radius:  30px;
    width: 95%;
    margin: 0px auto;
}

.game-display .game-rules h3 {
    font-size: 26px;
    font-weight: 700;
    color: black;
    text-align: center;
    margin: 30px 0px;
}

.game-display .game-rules ol {
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.game-display .game-rules ol li {
    border-radius: 8px;
    font-size: 16px;
    list-style-type: disc;
    list-style-position: inside;
    padding: 0px 15px;

}

.game-display .game-rules ol .one {
    background-color: var(--clr-light-green-800);
}

.game-display .game-rules ol .two {
    background-color: #68bd6f;
}

.container .digital-clock {
    position: fixed;
    bottom: 30px;
    right: 20px;
    max-width: 15%;
    max-height: 10%;
    background-color: orange;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding: 8px 12px;
    border-radius: 10px ;
    z-index: 999;
}

.container .digital-clock i {
    font-weight: 700;
    color: black;
    font-size: 15px;
}
.container .digital-clock p {
    color: black;
    font-size: 15px;
    font-weight: 500;
} 

/* @media screen and (max-width: 400px) {
    nav ul {
        flex-direction: column;
        padding: 10px 20px;
    }

    nav ul li h2 {
        font-size: 24px;
    }

    .container .game-display .game-card {
        width: 100%;
        border-radius: 15px;
    }

    .container .game-display .game-card .games {
        padding: 20px 30px;
    }

    .container .game-display .game-card .games .inputs h5 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .container .game-display .game-card .games .inputs h3 {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .container .game-display .game-card .games .inputs .fields {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0px 20px 0px;
    }

    .game-card .games .inputs .fields .guess-input-filed {
        font-size: 14px;
    }

    .game-card .games .inputs .fields .design-guess {
        font-size: 14px;
        padding: 6px 10px;
    }

    .container .game-display .game-card .games .outputs h6 {
        font-size: 16px;
    }

    .container .game-display .game-card .games .outputs p {
        font-size: 16px;
    }

    .games .newgame p {
        font-size: 14px;
        padding: 6px 8px;
    }

    .game-display .game-rules {
        width: 100%;
        border-radius: 15px;
    }

    .game-display .game-rules h3 {
        font-size: 22px;
        margin: 20px 0px;
    }

    .game-display .game-rules ol {
        width: 90%;
        margin: 20px auto;
    }

    .game-display .game-rules ol li {
        font-size: 14px;
        padding: 0px 10px;
    }

    .container .digital-clock {
        width: 90%;
        bottom: 20px;
        left: 5%;
        padding: 5px 10px;
    }

    .container .digital-clock i {
        font-size: 13px;
    }

    .container .digital-clock p {
        font-size: 13px;
    }
} */


